<?xml version="1.0"?>

<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
	<rosparam command="load" file="$(find rowbot_navigation)/config/ekf.yaml" />
	<remap from="odometry/filtered" to="odometry/filtered"/>
	<remap from="accel/filtered" to="accel/filtered"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <param name="magnetic_declination_radians" value="0"/>
    <remap from="/imu/data" to="/imu/data" />
    <remap from="/gps/fix" to="/gps/fix" />
    <remap from="/odometry/filtered" to="odometry/filtered" />
    <remap from="/odometry/gps" to="/odometry/gps" />
  </node>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
		<remap from="cloud_in" to="lidar_wamv/points"/>
		<remap from="scan" to="/scan"/>
		<rosparam>min_height: -1.5
angle_increment: 0.00872664625
range_max: 100.0
range_min: 2.5
angle_min: -3.1415
angle_max: 3.1415
use_inf: false </rosparam>
	</node>

	<node pkg="rowbot_navigation" type="mapping" name="mapping" output="screen" >
		<remap from="scan" to="/scan" />

	</node>
</launch>
